<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AdminLTE 3 | Navbar & Tabs</title>

    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="/plugins/sweetalert2/sweetalert2.min.css" />
    <!-- Toastr -->
    <link rel="stylesheet" href="/plugins/toastr/toastr.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css" />
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%- include('../../partials/top-nav'); %> <%-
      include('../../partials/sidebar'); %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Add Items</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item">
                    <a href="/sup_dashborad">Back</a>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                  <form
                    id="quickForm"
                    action="<%= typeof data=='object' && data.item ? '/cabinet/update' : '/cabinet/add' %>"
                    method="post"
                  >
                    <div class="row">
                      <div class="card-body">
                        <div class="form-group">
                          <div class="form-group">
                            <label for="dropdownItem">Item<%= typeof data=='object' && data.item %></label>
                            <select
                              id="dropdownItem"
                              name="item"
                              class="form-control select2"
                              data-placeholder="Select a Item"
                              style="width: 100%"
                            >
                              <option value="">
                                --Please choose an Item--
                              </option>
                              <option value="cabinet" <%= typeof data=='object' && data.item == 'cabinet' ? 'selected' : '' %>>Cabinet</option>
                              <option value="motherboard" <%= typeof data=='object' && data.item == 'motherboard' ? 'selected' : '' %>>Motherboard</option>
                              <option value="cpu">CPU</option>
                              <option value="ram">Ram</option>
                              <option value="colling">Colling</option>
                              <option value="graphiccard">Graphic Card</option>
                              <option value="supllier">Power Supplies</option>
                              <option value="storage">Storage</option>
                              <option value="peripheral">
                                Peripheral Device
                              </option>
                            </select>

                            <!-- Cabinet related values -->
                            <div class="row" id="cabinet">
                              <div class="col-md-6">
                                <label for="Name">Name</label>
                                <input
                                  type="hidden"
                                  name="idCabinet"
                                  value="<%= typeof data=='object' && data.idCabinet ? data.idCabinet : '' %>"
                                />
                                <input
                                  type="text"
                                  name="NameCabinet"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.NameCabinet? data.NameCabinet : '' %>"
                                  placeholder="Enter company name"
                                />
                              </div>
                              <div class="col-md-3">
                                <label for="Price">Price</label>
                                <input
                                  type="number"
                                  name="Pricecabinet"
                                  class="form-control"
                                  id="Price"
                                  value="<%= typeof data=='object' && data.Pricecabinet ? data.Pricecabinet : '' %>"
                                  placeholder="Enter price"
                                />
                              </div>
                              <div class="col-md-3">
                                <label for="quantity">Quantity</label>
                                <input
                                  type="number"
                                  name="quantityCabinet"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.quantityCabinet ? data.quantityCabinet : '' %>"
                                  placeholder="Enter quantity"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="image">Image URL</label>
                                <input
                                  type="file"
                                  name="cabinet_ImageURL"
                                  class="form-control"
                                  id="image"
                                  value="<%= typeof data=='object' && data.cabinet_ImageURL ? data.cabinet_ImageURL : '' %>"
                                  placeholder="Enter Dimention of cabinet"
                                />
                              </div>

                              <div class="col-md-6"></div>

                              <div class="col-md-6">
                                <label for="factor">Factor</label>
                                <input
                                  type="text"
                                  name="Form_Factor"
                                  class="form-control"
                                  id="factor"
                                  value="<%= typeof data=='object' && data.Form_Factor ? data.Form_Factor : '' %>"
                                  placeholder="Enter factor"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="dimention">Dimention</label>
                                <input
                                  type="text"
                                  name="Dimensions"
                                  class="form-control"
                                  id="dimention"
                                  value="<%= typeof data=='object' && data.Dimensions ? data.Dimensions : '' %>"
                                  placeholder="Enter Dimention of cabinet"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="material">Material</label>
                                <input
                                  type="text"
                                  name="Material"
                                  class="form-control"
                                  id="material"
                                  value="<%= typeof data=='object' && data.Material ? data.Material : '' %>"
                                  placeholder="Enter Dimention of cabinet"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="layer">No. of Bayes</label>
                                <input
                                  type="number"
                                  name="NoOfBayes"
                                  class="form-control"
                                  id="layer"
                                  value="<%= typeof data=='object' && data.NoOfBayes ? data.NoOfBayes : '' %>"
                                  placeholder="Enter number of Bayes"
                                />
                              </div>

                              <div class="col-md-6">
                                <label for="fans">No. of fans</label>
                                <input
                                  type="number"
                                  name="NoOfFans"
                                  class="form-control"
                                  id="fans"
                                  value="<%= typeof data=='object' && data.NoOfFans ? data.NoOfFans : '' %>"
                                  placeholder="Enter number of fans"
                                />
                              </div>
                            </div>

                            <!-- Motherboard related values -->
                            <div class="row" id="motherboard">
                              <div class="col-md-6">
                                <label for="Name">Name</label>
                                <input
                                  type="hidden"
                                  name="idMotherboard"
                                  value="<%= typeof data=='object' && data.idMotherboard ? data.idMotherboard : '' %>"
                                />
                                <input
                                  type="text"
                                  name="nameMotherboard"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.nameMotherboard? data.nameMotherboard : '' %>"
                                  placeholder="Enter company name"
                                />
                              </div>
                              <div class="col-md-3">
                                <label for="Price">Price</label>
                                <input
                                  type="number"
                                  name="priceMotherboard"
                                  class="form-control"
                                  id="Price"
                                  value="<%= typeof data=='object' && data.priceMotherboard ? data.priceMotherboard : '' %>"
                                  placeholder="Enter price"
                                />
                              </div>
                              <div class="col-md-3">
                                <label for="quantity">Quantity</label>
                                <input
                                  type="number"
                                  name="quantityMotherboard"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.quantityMotherboard ? data.quantityMotherboard : '' %>"
                                  placeholder="Enter quantity"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="image">Image URL</label>
                                <input
                                  type="file"
                                  name="image_url"
                                  class="form-control"
                                  id="image"
                                  value="<%= typeof data=='object' && data.image_url ? data.image_url : '' %>"
                                  placeholder="Enter Dimention of cabinet"
                                />
                              </div>
                              <div class="col-md-6"></div>
                              <div class="col-md-6">
                                <label for="description">Description</label>
                                <textarea
                                  class="form-control"
                                  name="description"
                                  rows="2"
                                  id="description"
                                  value="<%= typeof data=='object' && data.description ? data.description : '' %>"
                                  placeholder="Enter description"
                                >
                                </textarea>
                              </div>
                              <div class="col-md-6">
                                <label for="socket">CPU Socket</label>
                                <input
                                  type="number"
                                  name="cpu_socket"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.cpu_socket ? data.cpu_socket : '' %>"
                                  placeholder="Enter number of layer"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="ram_slot">Ram Slot</label>
                                <input
                                  type="number"
                                  name="ram_slots"
                                  class="form-control"
                                  id="ram_slot"
                                  value="<%= typeof data=='object' && data.ram_slots ? data.ram_slots : '' %>"
                                  placeholder="Enter ram slot"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="max_ram_capacity"
                                  >Maximum Ram Capacity</label
                                >
                                <input
                                  type="number"
                                  name="max_ram_capacity"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.max_ram_capacity ? data.max_ram_capacity : '' %>"
                                  placeholder="Enter maximum ram capicity"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="pci_slot">PCI Slot</label>
                                <input
                                  type="number"
                                  name="pci_slots"
                                  class="form-control"
                                  id="pci_slot"
                                  value="<%= typeof data=='object' && data.pci_slots ? data.pci_slots : '' %>"
                                  placeholder="Enter pci slot"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="sata_ports">Sata Ports</label>
                                <input
                                  type="number"
                                  name="sata_ports"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.sata_ports ? data.sata_ports : '' %>"
                                  placeholder="Enter sata ports"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="usb_ports">USB Ports</label>
                                <input
                                  type="number"
                                  name="usb_ports"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.usb_ports ? data.usb_ports : '' %>"
                                  placeholder="Enter usb ports"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="ethernetport">Ethernet Ports</label
                                ><br />
                                <div class="form-group">
                                  <div class="form-check">
                                    <input
                                      type="radio"
                                      name="ethernet_port"
                                      value="yes" <%= typeof data=='object' && data.ethernet_port == 'yes' ? 'checked' : '' %>
                                    />&nbsp; <label>YES</label> &nbsp; &nbsp;
                                    &nbsp;

                                    <input
                                      type="radio"
                                      name="ethernetport"
                                      value="no" <%= typeof data=='object' && data.ethernet_port == 'no' ? 'checked' : '' %>
                                    />&nbsp;
                                    <label>NO</label>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <label for="wifi">Wifi Module</label><br />
                                <div class="form-group">
                                  <div class="form-check">
                                    <input type="radio" name="wifi_module" value="yes"<%= typeof data=='object' && data.wifi_module == 'yes' ? 'checked' : '' %>/>&nbsp;
                                    <label>YES</label> &nbsp; &nbsp; &nbsp;

                                    <input type="radio" name="wifi_module" value="no" <%= typeof data=='object' && data.wifi_module == 'no' ? 'checked' : '' %>/>&nbsp;
                                    <label>NO</label>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <label for="bluetooth">Bluetooth Module</label
                                ><br />
                                <div class="form-group">
                                  <div class="form-check">
                                    <input
                                      type="radio"
                                      name="bluetooth_module"
                                      value="yes" <%= typeof data=='object' && data.bluetooth_module == 'yes' ? 'checked' : '' %>
                                    />&nbsp; <label>YES</label> &nbsp; &nbsp;
                                    &nbsp;

                                    <input
                                      type="radio"
                                      name="bluetooth_module"
                                      value="no" <%= typeof data=='object' && data.bluetooth_module == 'no' ? 'checked' : '' %>
                                    />&nbsp;
                                    <label>NO</label>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- CPU related values -->
                            <div class="row" id="cpu">
                              <div class="col-md-6">
                                <label for="Name">Name</label>
                                <input
                                  type="hidden"
                                  name="idCpu"
                                  value="<%= typeof data=='object' && data.idCabinet ? data.idCabinet : '' %>"
                                />
                                <input
                                  type="text"
                                  name="NameCPU"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.Name? data.Name : '' %>"
                                  placeholder="Enter company name"
                                />
                              </div>
                              <div class="col-md-3">
                                <label for="Price">Price</label>
                                <input
                                  type="number"
                                  name="PriceCPU"
                                  class="form-control"
                                  id="Price"
                                  value="<%= typeof data=='object' && data.Price ? data.Price : '' %>"
                                  placeholder="Enter price"
                                />
                              </div>
                              <div class="col-md-3">
                                <label for="quantity">Quantity</label>
                                <input
                                  type="number"
                                  name="quantityCPU"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.quantity ? data.quantity : '' %>"
                                  placeholder="Enter quantity"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="image">Image URL</label>
                                <input
                                  type="file"
                                  name="cpuImageURL"
                                  class="form-control"
                                  id="image"
                                  value="<%= typeof data=='object' && data.quantity ? data.quantity : '' %>"
                                  placeholder="Enter Dimention of cabinet"
                                />
                              </div>
                              <div class="col-md-6"></div>
                              <div class="col-md-6">
                                <label for="socket_type">Socket Type</label>
                                <input
                                  type="text"
                                  name="socket_type"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter socket type"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="number_of_cores"
                                  >No. Of Cores</label
                                >
                                <input
                                  type="number"
                                  name="number_of_cores"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter number of cores"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="clock_speed">Clock Speed</label>
                                <input
                                  type="number"
                                  name="clock_speed"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter clock speed"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="cache_size">Cache Size</label>
                                <input
                                  type="number"
                                  name="cache_size"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter cache size"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="power_consumtion"
                                  >Power Consumption</label
                                >
                                <input
                                  type="number"
                                  name="power_consumtionCPU"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter power consumtion"
                                />
                              </div>
                            </div>

                            <!-- Ram related values -->
                            <div class="row" id="ram">
                              <div class="col-md-6">
                                <label for="Name">Name</label>
                                <input
                                  type="hidden"
                                  name="idram"
                                  value="<%= typeof data=='object' && data.idCabinet ? data.idCabinet : '' %>"
                                />
                                <input
                                  type="text"
                                  name="NameRam"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.Name? data.Name : '' %>"
                                  placeholder="Enter company name"
                                />
                              </div>
                              <div class="col-md-3">
                                <label for="Price">Price</label>
                                <input
                                  type="number"
                                  name="PriceRam"
                                  class="form-control"
                                  id="Price"
                                  value="<%= typeof data=='object' && data.Price ? data.Price : '' %>"
                                  placeholder="Enter price"
                                />
                              </div>
                              <div class="col-md-3">
                                <label for="quantity">Quantity</label>
                                <input
                                  type="number"
                                  name="quantityRam"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.quantity ? data.quantity : '' %>"
                                  placeholder="Enter quantity"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="image">Image URL</label>
                                <input
                                  type="file"
                                  name="ImageURLRam"
                                  class="form-control"
                                  id="image"
                                  value="<%= typeof data=='object' && data.quantity ? data.quantity : '' %>"
                                  placeholder="Enter Dimention of cabinet"
                                />
                              </div>
                              <div class="col-md-6"></div>
                              <div class="col-md-6">
                                <label for="description">Description</label>
                                <textarea
                                  class="form-control"
                                  name="description1"
                                  rows="2"
                                  placeholder="Enter description"
                                >
                                </textarea>
                              </div>
                              <div class="col-md-6">
                                <label for="memory_size">Memory Size</label>
                                <input
                                  type="number"
                                  name="memory_sizeRam"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter memory size"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="memory_type">Memory Type</label>
                                <input
                                  type="text"
                                  name="memory_typeRam"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter memory type"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="memory_speed">Memory Speed</label>
                                <input
                                  type="number"
                                  name="memory_speed"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter memory speed"
                                />
                              </div>
                            </div>

                            <!-- Colling system related values -->
                            <div class="row" id="colling">
                              <div class="col-md-6">
                                <label for="Name">Name</label>
                                <input
                                  type="hidden"
                                  name="idColling"
                                  value="<%= typeof data=='object' && data.idCabinet ? data.idCabinet : '' %>"
                                />
                                <input
                                  type="text"
                                  name="NameColling"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.Name? data.Name : '' %>"
                                  placeholder="Enter company name"
                                />
                              </div>
                              <div class="col-md-3">
                                <label for="Price">Price</label>
                                <input
                                  type="number"
                                  name="PriceColling"
                                  class="form-control"
                                  id="Price"
                                  value="<%= typeof data=='object' && data.Price ? data.Price : '' %>"
                                  placeholder="Enter price"
                                />
                              </div>
                              <div class="col-md-3">
                                <label for="quantity">Quantity</label>
                                <input
                                  type="number"
                                  name="quantityColling"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.quantity ? data.quantity : '' %>"
                                  placeholder="Enter quantity"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="image">Image URL</label>
                                <input
                                  type="file"
                                  name="ImageURLColling"
                                  class="form-control"
                                  id="image"
                                  value="<%= typeof data=='object' && data.quantity ? data.quantity : '' %>"
                                  placeholder="Enter Dimention of cabinet"
                                />
                              </div>
                              <div class="col-md-6"></div>
                              <div class="col-md-6">
                                <label for="description">Description</label>
                                <textarea
                                  class="form-control"
                                  name="descriptionColling"
                                  rows="2"
                                  placeholder="Enter description"
                                >
                                </textarea>
                              </div>
                              <div class="col-md-6">
                                <label for="company">Type</label>
                                <input
                                  type="text"
                                  name="coolling"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter coolling system type"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="company">Fan Speed</label>
                                <input
                                  type="number"
                                  name="fan"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter fan speed"
                                />
                              </div>
                            </div>

                            <!-- Graphic card related values -->
                            <div class="row" id="graphiccard">
                              <div class="col-md-6">
                                <label for="Name">Name</label>
                                <input
                                  type="hidden"
                                  name="idgraphic"
                                  value="<%= typeof data=='object' && data.idCabinet ? data.idCabinet : '' %>"
                                />
                                <input
                                  type="text"
                                  name="NameGraphic"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.Name? data.Name : '' %>"
                                  placeholder="Enter company name"
                                />
                              </div>
                              <div class="col-md-3">
                                <label for="Price">Price</label>
                                <input
                                  type="number"
                                  name="PriceGraphic"
                                  class="form-control"
                                  id="Price"
                                  value="<%= typeof data=='object' && data.Price ? data.Price : '' %>"
                                  placeholder="Enter price"
                                />
                              </div>
                              <div class="col-md-3">
                                <label for="quantity">Quantity</label>
                                <input
                                  type="number"
                                  name="quantityGraphic"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.quantity ? data.quantity : '' %>"
                                  placeholder="Enter quantity"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="image">Image URL</label>
                                <input
                                  type="file"
                                  name="ImageURLGraphic"
                                  class="form-control"
                                  id="image"
                                  value="<%= typeof data=='object' && data.quantity ? data.quantity : '' %>"
                                  placeholder="Enter Dimention of cabinet"
                                />
                              </div>
                              <div class="col-md-6"></div>
                              <div class="col-md-6">
                                <label for="chipset">Chipset</label>
                                <input
                                  type="text"
                                  name="chipset"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter chipset"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="memory_type">Memory Type</label>
                                <input
                                  type="text"
                                  name="memory_typeGraphic"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter memory type"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="memory_size">Memory Size</label>
                                <input
                                  type="number"
                                  name="memory_sizeGraphic"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter memory size"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="core_clock">Core Clock</label>
                                <input
                                  type="number"
                                  name="core_clock"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter core clock"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="memory_clock">Memory Clock</label>
                                <input
                                  type="number"
                                  name="memory_clock"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter memory clock"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="power_consumtion"
                                  >Power Consumption</label
                                >
                                <input
                                  type="number"
                                  name="power_consumtionGraphic"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter power consumtion"
                                />
                              </div>
                            </div>

                            <!-- Power Supplies related values -->
                            <div class="row" id="supllier">
                              <div class="col-md-6">
                                <label for="Name">Name</label>
                                <input
                                  type="hidden"
                                  name="idpower"
                                  value="<%= typeof data=='object' && data.idCabinet ? data.idCabinet : '' %>"
                                />
                                <input
                                  type="text"
                                  name="NamePower"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.Name? data.Name : '' %>"
                                  placeholder="Enter company name"
                                />
                              </div>
                              <div class="col-md-3">
                                <label for="Price">Price</label>
                                <input
                                  type="number"
                                  name="PricePower"
                                  class="form-control"
                                  id="Price"
                                  value="<%= typeof data=='object' && data.Price ? data.Price : '' %>"
                                  placeholder="Enter price"
                                />
                              </div>
                              <div class="col-md-3">
                                <label for="quantity">Quantity</label>
                                <input
                                  type="number"
                                  name="quantityPower"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.quantity ? data.quantity : '' %>"
                                  placeholder="Enter quantity"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="image">Image URL</label>
                                <input
                                  type="file"
                                  name="ImageURLPower"
                                  class="form-control"
                                  id="image"
                                  value="<%= typeof data=='object' && data.quantity ? data.quantity : '' %>"
                                  placeholder="Enter Dimention of cabinet"
                                />
                              </div>
                              <div class="col-md-6"></div>
                              <div class="col-md-6">
                                <label for="descriptionPower">Description</label>
                                <textarea
                                  class="form-control"
                                  name="description3"
                                  rows="2"
                                  placeholder="Enter description"
                                >
                                </textarea>
                              </div>
                              <div class="col-md-6">
                                <label for="wattage">Wattage</label>
                                <input
                                  type="number"
                                  name="wattage"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter wattage"
                                />
                              </div>
                            </div>

                            <!-- Storage related values -->
                            <div class="row" id="storage">
                              <div class="col-md-6">
                                <label for="Name">Name</label>
                                <input
                                  type="hidden"
                                  name="idstorage"
                                  value="<%= typeof data=='object' && data.idCabinet ? data.idCabinet : '' %>"
                                />
                                <input
                                  type="text"
                                  name="NameStorage"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.Name? data.Name : '' %>"
                                  placeholder="Enter company name"
                                />
                              </div>
                              <div class="col-md-3">
                                <label for="Price">Price</label>
                                <input
                                  type="number"
                                  name="PriceStorage"
                                  class="form-control"
                                  id="Price"
                                  value="<%= typeof data=='object' && data.Price ? data.Price : '' %>"
                                  placeholder="Enter price"
                                />
                              </div>
                              <div class="col-md-3">
                                <label for="quantity">Quantity</label>
                                <input
                                  type="number"
                                  name="quantityStorage"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.quantity ? data.quantity : '' %>"
                                  placeholder="Enter quantity"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="image">Image URL</label>
                                <input
                                  type="file"
                                  name="ImageURLStorage"
                                  class="form-control"
                                  id="image"
                                  value="<%= typeof data=='object' && data.quantity ? data.quantity : '' %>"
                                  placeholder="Enter Dimention of cabinet"
                                />
                              </div>
                              <div class="col-md-6"></div>
                              <div class="col-md-6">
                                <label for="descriptionStorage">Description</label>
                                <textarea
                                  class="form-control"
                                  name="description4"
                                  rows="2"
                                  placeholder="Enter description"
                                >
                                </textarea>
                              </div>
                              <div class="col-md-6">
                                <label for="storage_speed">Storage Speed</label>
                                <input
                                  type="number"
                                  name="storage_speed"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter storage speed"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="storage_type">Storage Type</label>
                                <input
                                  type="text"
                                  name="storage_type"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter storage type"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="storage_size">Storage Size</label>
                                <input
                                  type="number"
                                  name="storage_size"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter storage size"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="read_speed">Read Speed</label>
                                <input
                                  type="number"
                                  name="read_speed"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter read speed"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="write_speed">Write Speed</label>
                                <input
                                  type="number"
                                  name="write_speed"
                                  class="form-control"
                                  id="company"
                                  placeholder="Enter write speed"
                                />
                              </div>
                            </div>

                            <!-- peripheral related values -->
                            <div class="row" id="peripheral">
                              <div class="col-md-6">
                                <label for="Name">Name</label>
                                <input
                                  type="hidden"
                                  name="idperipheral"
                                  value="<%= typeof data=='object' && data.idCabinet ? data.idCabinet : '' %>"
                                />
                                <input
                                  type="text"
                                  name="Nameperipheral"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.Name? data.Name : '' %>"
                                  placeholder="Enter company name"
                                />
                              </div>
                              <div class="col-md-3">
                                <label for="Price">Price</label>
                                <input
                                  type="number"
                                  name="Priceperipheral"
                                  class="form-control"
                                  id="Price"
                                  value="<%= typeof data=='object' && data.Price ? data.Price : '' %>"
                                  placeholder="Enter price"
                                />
                              </div>
                              <div class="col-md-3">
                                <label for="quantity">Quantity</label>
                                <input
                                  type="number"
                                  name="quantityperipheral"
                                  class="form-control"
                                  id="company"
                                  value="<%= typeof data=='object' && data.quantity ? data.quantity : '' %>"
                                  placeholder="Enter quantity"
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="image">Image URL</label>
                                <input
                                  type="file"
                                  name="ImageURLperipheral"
                                  class="form-control"
                                  id="image"
                                  value="<%= typeof data=='object' && data.quantity ? data.quantity : '' %>"
                                  placeholder="Enter Dimention of cabinet"
                                />
                              </div>
                              <div class="col-md-6"></div>
                              <div class="col-md-6">
                                <label for="description"
                                  >Peripheral Device Name</label
                                >
                                <select
                                  id="dropdownItem"
                                  name="dropdownItem1"
                                  class="form-control select2"
                                  data-placeholder="Select a Item"
                                  style="width: 100%"
                                >
                                  <option value="">
                                    --Please choose an Item--
                                  </option>
                                  <option value="printer">Printer</option>
                                  <option value="scanner">Scanner</option>
                                  <option value="keyboard">Keyboard</option>
                                  <option value="mouse">Mouse</option>
                                  <option value="external-modem">
                                    External Modem
                                  </option>
                                </select>
                              </div>
                            </div>
                            <!-- form-group -->
                          </div>
                          <!-- form-group -->
                        </div>
                        <!-- card-body  -->
                      </div>
                    </div>

                    <!-- /.card-body -->
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </form>
                  <!-- /.card -->
                </div>
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <%- include('../../partials/footer'); %>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js"></script>

    <script>
      $(document).ready(function () {
        var selectedValue = $("#dropdownItem").val();
        if (selectedValue == "cabinet") {
          $("#cabinet").show();
          $("#motherboard").hide();
          $("#cpu").hide();
          $("#ram").hide();
          $("#colling").hide();
          $("#graphiccard").hide();
          $("#supllier").hide();
          $("#storage").hide();
          $("#peripheral").hide();
        } else if (selectedValue == "motherboard") {
          $("#cabinet").hide();
          $("#motherboard").show();
          $("#cpu").hide();
          $("#ram").hide();
          $("#colling").hide();
          $("#graphiccard").hide();
          $("#supllier").hide();
          $("#storage").hide();
          $("#peripheral").hide();
        } else if (selectedValue == "cpu") {
          $("#motherboard").hide();
          $("#cabinet").hide();
          $("#cpu").show();
          $("#ram").hide();
          $("#colling").hide();
          $("#graphiccard").hide();
          $("#supllier").hide();
          $("#storage").hide();
          $("#peripheral").hide();
        } else if (selectedValue == "ram") {
          $("#motherboard").hide();
          $("#cabinet").hide();
          $("#cpu").hide();
          $("#ram").show();
          $("#colling").hide();
          $("#graphiccard").hide();
          $("#supllier").hide();
          $("#storage").hide();
          $("#peripheral").hide();
        } else if (selectedValue == "colling") {
          $("#motherboard").hide();
          $("#cabinet").hide();
          $("#cpu").hide();
          $("#ram").hide();
          $("#colling").show();
          $("#graphiccard").hide();
          $("#supllier").hide();
          $("#storage").hide();
          $("#peripheral").hide();
        } else if (selectedValue == "graphiccard") {
          $("#motherboard").hide();
          $("#cabinet").hide();
          $("#cpu").hide();
          $("#ram").hide();
          $("#colling").hide();
          $("#graphiccard").show();
          $("#supllier").hide();
          $("#storage").hide();
          $("#peripheral").hide();
        } else if (selectedValue == "supllier") {
          $("#motherboard").hide();
          $("#cabinet").hide();
          $("#cpu").hide();
          $("#ram").hide();
          $("#colling").hide();
          $("#graphiccard").hide();
          $("#supllier").show();
          $("#storage").hide();
          $("#peripheral").hide();
        } else if (selectedValue == "storage") {
          $("#motherboard").hide();
          $("#cabinet").hide();
          $("#cpu").hide();
          $("#ram").hide();
          $("#colling").hide();
          $("#graphiccard").hide();
          $("#supllier").hide();
          $("#storage").show();
          $("#peripheral").hide();
        } else if (selectedValue == "peripheral") {
          $("#motherboard").hide();
          $("#cabinet").hide();
          $("#cpu").hide();
          $("#ram").hide();
          $("#colling").hide();
          $("#graphiccard").hide();
          $("#supllier").hide();
          $("#storage").hide();
          $("#peripheral").show();
        } else if (selectedValue == "") {
          $("#motherboard").hide();
          $("#cabinet").hide();
          $("#cpu").hide();
          $("#ram").hide();
          $("#colling").hide();
          $("#graphiccard").hide();
          $("#supllier").hide();
          $("#storage").hide();
          $("#peripheral").hide();
        }

        $("#dropdownItem").on("change", function () {
          var selectedValue = $(this).val();
          if (selectedValue == "cabinet") {
            $("#cabinet").show();
            $("#motherboard").hide();
            $("#cpu").hide();
            $("#ram").hide();
            $("#colling").hide();
            $("#graphiccard").hide();
            $("#supllier").hide();
            $("#storage").hide();
            $("#peripheral").hide();
          } else if (selectedValue == "motherboard") {
            $("#cabinet").hide();
            $("#motherboard").show();
            $("#cpu").hide();
            $("#ram").hide();
            $("#colling").hide();
            $("#graphiccard").hide();
            $("#supllier").hide();
            $("#storage").hide();
            $("#peripheral").hide();
          } else if (selectedValue == "cpu") {
            $("#motherboard").hide();
            $("#cabinet").hide();
            $("#cpu").show();
            $("#ram").hide();
            $("#colling").hide();
            $("#graphiccard").hide();
            $("#supllier").hide();
            $("#storage").hide();
            $("#peripheral").hide();
          } else if (selectedValue == "ram") {
            $("#motherboard").hide();
            $("#cabinet").hide();
            $("#cpu").hide();
            $("#ram").show();
            $("#colling").hide();
            $("#graphiccard").hide();
            $("#supllier").hide();
            $("#storage").hide();
            $("#peripheral").hide();
          } else if (selectedValue == "colling") {
            $("#motherboard").hide();
            $("#cabinet").hide();
            $("#cpu").hide();
            $("#ram").hide();
            $("#colling").show();
            $("#graphiccard").hide();
            $("#supllier").hide();
            $("#storage").hide();
            $("#peripheral").hide();
          } else if (selectedValue == "graphiccard") {
            $("#motherboard").hide();
            $("#cabinet").hide();
            $("#cpu").hide();
            $("#ram").hide();
            $("#colling").hide();
            $("#graphiccard").show();
            $("#supllier").hide();
            $("#storage").hide();
            $("#peripheral").hide();
          } else if (selectedValue == "supllier") {
            $("#motherboard").hide();
            $("#cabinet").hide();
            $("#cpu").hide();
            $("#ram").hide();
            $("#colling").hide();
            $("#graphiccard").hide();
            $("#supllier").show();
            $("#storage").hide();
            $("#peripheral").hide();
          } else if (selectedValue == "storage") {
            $("#motherboard").hide();
            $("#cabinet").hide();
            $("#cpu").hide();
            $("#ram").hide();
            $("#colling").hide();
            $("#graphiccard").hide();
            $("#supllier").hide();
            $("#storage").show();
            $("#peripheral").hide();
          } else if (selectedValue == "peripheral") {
            $("#motherboard").hide();
            $("#cabinet").hide();
            $("#cpu").hide();
            $("#ram").hide();
            $("#colling").hide();
            $("#graphiccard").hide();
            $("#supllier").hide();
            $("#storage").hide();
            $("#peripheral").show();
          } else if (selectedValue == "") {
            $("#motherboard").hide();
            $("#cabinet").hide();
            $("#cpu").hide();
            $("#ram").hide();
            $("#colling").hide();
            $("#graphiccard").hide();
            $("#supllier").hide();
            $("#storage").hide();
            $("#peripheral").hide();
          }
        });
      });
    </script>
  </body>
</html>
