<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ABuild Wizard</title>

    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="./plugins/fontawesome-free/css/all.min.css" />
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="./plugins/sweetalert2/sweetalert2.min.css" />
    <!-- Toastr -->
    <link rel="stylesheet" href="./plugins/toastr/toastr.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="./dist/css/adminlte.min.css" />
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%- include('../../partials/top-nav'); %> <%-
      include('../../partials/sidebar'); %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>CPU</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item">
                    <a href="/addItems">Add Item</a>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <div class="card-body">
          <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
          

            <div class="row">
              <div class="col-sm-12">
                <table
                  id="example1"
                  class="table table-bordered table-striped dataTable dtr-inline"
                  aria-describedby="example1_info"
                >
                  <thead>
                    <tr>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="example1"
                        rowspan="1"
                        colspan="1"
                        aria-label="Rendering engine: activate to sort column ascending"
                      >
                        Image
                      </th>
                      <th
                        class="sorting sorting_desc"
                        tabindex="0"
                        aria-controls="example1"
                        rowspan="1"
                        colspan="1"
                        aria-label="Platform(s): activate to sort column ascending"
                        aria-sort="descending"
                      >
                        Name
                      </th>
                      <th
                        class="sorting sorting_desc"
                        tabindex="0"
                        aria-controls="example1"
                        rowspan="1"
                        colspan="1"
                        aria-label="Platform(s): activate to sort column ascending"
                        aria-sort="descending"
                      >
                        Price
                      </th>
                      <th
                        class="sorting sorting_desc"
                        tabindex="0"
                        aria-controls="example1"
                        rowspan="1"
                        colspan="1"
                        aria-label="Platform(s): activate to sort column ascending"
                        aria-sort="descending"
                      >
                        Quantity
                      </th>
                      <th
                        class="sorting sorting_desc"
                        tabindex="0"
                        aria-controls="example1"
                        rowspan="1"
                        colspan="1"
                        aria-label="Platform(s): activate to sort column ascending"
                        aria-sort="descending"
                      >
                        Socket Type
                      </th>
                      <th
                        class="sorting sorting_desc"
                        tabindex="0"
                        aria-controls="example1"
                        rowspan="1"
                        colspan="1"
                        aria-label="Platform(s): activate to sort column ascending"
                        aria-sort="descending"
                      >
                        Number Of Cors
                      </th>
                      <th
                        class="sorting sorting_desc"
                        tabindex="0"
                        aria-controls="example1"
                        rowspan="1"
                        colspan="1"
                        aria-label="Platform(s): activate to sort column ascending"
                        aria-sort="descending"
                      >
                        Clock Speed
                      </th>
                      <th
                        class="sorting sorting_desc"
                        tabindex="0"
                        aria-controls="example1"
                        rowspan="1"
                        colspan="1"
                        aria-label="Platform(s): activate to sort column ascending"
                        aria-sort="descending"
                      >
                      Cache Size
                      </th>
                      <th
                        class="sorting sorting_desc"
                        tabindex="0"
                        aria-controls="example1"
                        rowspan="1"
                        colspan="1"
                        aria-label="Platform(s): activate to sort column ascending"
                        aria-sort="descending"
                      >
                        Power Consumption
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="example1"
                        rowspan="1"
                        colspan="1"
                        aria-label="Engine version: activate to sort column ascending"
                      >
                        Action
                      </th>
                      <!-- <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">CSS grade</th> -->
                    </tr>
                  </thead>
                  <% if(typeof cpu=='object' && cpu.length){ for(var i =
                  0; i< cpu.length; i++) {%>
                  <tbody>
                    <tr class="odd">
                      <td class="dtr-control" tabindex="0">
                        <%= cpu[i].cabinet_ImageURL%>
                      </td>
                      <td><%= cpu[i].NameCPU%></td>
                      <td class="sorting_1"><%= cpu[i].PriceCPU%></td>
                      <td class="sorting_1"><%= cpu[i].quantityCPU%></td>
                      <td class="sorting_1"><%= cpu[i].socket_type%></td>
                      <td class="sorting_1"><%= cpu[i].number_of_cores%></td>
                      <td class="sorting_1"><%= cpu[i].clock_speed%></td>
                      <td class="sorting_1"><%= cpu[i].cache_size%></td>
                      <td class="sorting_1"><%= cpu[i].power_consumtionCPU%></td>
                      <td>
                        <a href="/cabinet/<%= cpu[i].idCpu%>?id=cpu">Edit</a>
                        <a href="/cabinet/delete/<%= cpu[i].idCpu%>?id=cpu"
                          >Delete</a
                        >
                      </td>
                    </tr>
                    <% }}%>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-sm-12 col-md-5">
                <div
                  class="dataTables_info"
                  id="example1_info"
                  role="status"
                  aria-live="polite"
                >
                  Showing 1 to 10 of 57 entries
                </div>
              </div> -->

              <div class="col-sm-12 col-md-7"></div>
            </div>
          </div>
        </div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <%- include('../../partials/footer'); %>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="./plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="./plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="./dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="./dist/js/demo.js"></script>
  </body>
</html>
