<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <!-- <img src="./dist/img/logo.jpeg" alt="AdminLTE Logo" class="brand-image" style="opacity: .8"> -->
    <span class="brand-text font-weight-light"
      >Build Wizard <%= typeof userData == 'object' && userData && userData.role
      ? userData.role : '' %></span
    >
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="/<%= typeof userData == 'object' && userData && userData.userImageURL ? userData.userImageURL : './dist/img/user2-160x160.jpg' %>"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a href="#" class="d-block"
          ><%= typeof userData == 'object' && userData && userData.fname ?
          userData.fname : '' %> <%= typeof userData == 'object' && userData &&
          userData.lname ? userData.lname : '' %><%= typeof userData == 'object'
          && userData && userData.Name ? userData.Name : '' %></a
        >
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <!-- <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div> -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <!-- <% if(userData.role == "Admin"){%> -->
        <li class="nav-item">
          <a href="/dashboard" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/user" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>Users</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/supplier" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>Supplier</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Items
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/supplier/buyComponent" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Cabinet</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Motherboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>CPU</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Ram</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Cooling System</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Graphic Card</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Power Supplies</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Storage</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Peripheral Device</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/orders" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>Order</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/offer" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>Offer</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Order History
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/supplier/showItem" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Buy Item</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Sell Item</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- <li class="nav-item">
                <a href="/category" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Reporting
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/category" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Payment
                  </p>
                </a>
              </li> -->
        <!-- <% } else {%> -->
        <li class="nav-item">
          <a href="/sup_dashborad" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>Supplier Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Items
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/cabinet?id=cabinet" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Cabinet</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cabinet?id=motherboard" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Motherboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cabinet?id=cpu" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>CPU</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cabinet?id=ram" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Ram</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cabinet?id=colling" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Cooling System</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cabinet?id=graphiccard" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Graphic Card</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cabinet?id=powersupply" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Power Supplies</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cabinet?id=storage" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Storage</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cabinet?id=peripheral" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Peripheral Device</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/supplier/order" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Order 
            </p>
          </a>
        </li>
        <!-- <% }%> -->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
