<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Build Wizard</title>

    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="/plugins/sweetalert2/sweetalert2.min.css" />
    <!-- Toastr -->
    <link rel="stylesheet" href="/plugins/toastr/toastr.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css" />
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%- include('../partials/top-nav'); %> <%- include('../partials/sidebar');
      %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Supplier</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/supplier">Back</a></li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                  <!-- <div class="card-header">
                <h3 class="card-title">Quick Example <small>jQuery Validation</small></h3>
              </div> -->
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form
                    id="quickForm"
                    action="<%= typeof supplier=='object' && supplier && supplier && supplier.idSupplier ? '/supplier/update' : '/supplier/add' %>"
                    method="post"
                  >
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
                          <label for="offer_name">Name</label>
                          <input
                            type="hidden"
                            name="idSupplier"
                            value="<%= typeof supplier=='object' && supplier && supplier && supplier.idSupplier? supplier.idSupplier : '' %>"
                          />
                          <input
                            type="text"
                            name="Name"
                            class="form-control"
                            style="width: 50%"
                            id="offer_name"
                            value="<%= typeof supplier=='object' && supplier && supplier.Name ? supplier.Name : '' %>"
                            placeholder="Enter Supplier name"
                          />
                        </div>
                        <div class="col-md-12">
                          <label for="PromoCode">Mobile Number</label>
                          <input
                            type="tel"
                            name="Mobile"
                            min="10"
                            class="form-control"
                            style="width: 50%"
                            id="company"
                            value="<%= typeof supplier=='object' && supplier && supplier.Mobile ? supplier.Mobile : '' %>"
                            placeholder="Enter mobile number"
                          />
                        </div>
                        <div class="col-md-12">
                          <label for="DsicountPercentage">Email</label>
                          <input
                            type="email"
                            name="Email"
                            class="form-control"
                            style="width: 50%"
                            id="company"
                            value="<%= typeof supplier=='object' && supplier && supplier.Email ? supplier.Email : '' %>"
                            placeholder="Enter email id "
                          />
                        </div>
                        <div class="col-md-12">
                          <label for="MinimumAmount">Address</label>
                          <textarea
                            class="form-control"
                            name="Address"
                            style="width: 50%"
                            placeholder="Enter supplier address"
                          ><%= typeof supplier=='object' && supplier && supplier.Address ? supplier.Address : '' %></textarea>
                        </div>
                        <div class="col-md-12">
                          <label for="MinimumAmount">Password </label>
                          <input
                            type="password"
                            name="password"
                            class="form-control"
                            id="company"
                            style="width: 50%"
                            value="<%= typeof supplier=='object' && supplier.password ? supplier.password : '' %>"
                            placeholder="Enter minimum amount"
                          />
                        </div>
                        <div class="col-md-12">
                          <label for="MinimumAmount">Confiem Password </label>
                          <input
                            type="password"
                            name="password1"
                            class="form-control"
                            id="company"
                            style="width: 50%"
                            value="<%= typeof supplier=='object' && supplier.password ? supplier.password : '' %>"
                            placeholder="Enter minimum amount"
                          />
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </form>
                </div>
                <!-- /.card -->
              </div>

              <!--/.col (left) -->
              <!-- right column -->
              <div class="col-md-6"></div>
              <!--/.col (right) -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <%- include('../partials/footer'); %>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js"></script>
  </body>
</html>
